{% extends 'core.html' %}
{% block core_body%}
<div class="index">
    <div class="card">
        <form action="/departments/" method="post">
            <label for="idDepartmentName">
                <span>Department Name: </span>
                <input type="text" name="departmentname" id="idDepartmentName">
            </label>
            <label for="idCompany">
                <span>Select company: </span>
                <select name="company_id" id="">
                    {% for company in companies %}
                    <option value="{{company.id}}">{{company.name}}</option>
                    {% endfor %}
                </select>
            </label>
            <br>
            <button class="btn" type="submit">Submit</button>
        </form>
    </div>
    <h2>You can see Departments on this page.</h2>
    {% if departments %}
    {% for department in departments %}
    <div class="card">
        <div>
            <a href="/departments/{{department.id}}">
                [{{department.id}}]
                {{department.name}}
            </a>
            <br>
            <span>
                <small>Company: {{department.company.name}}</small>
            </span>
            <form action="/departments/{{department.id}}/delete/" method="POST">
                <button class="btn btn-danger btn-sm" onclick="return confirm('Are you sure to delete?')">
                    Delete
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="card">
        <h2>Departments not registered yet!</h2>
    </div>
    {% endif %}
</div>
{% endblock core_body%}