{% extends 'core.html' %}
{% block core_body%}
<div class="index">
    <div class="" style="margin: 10px;">
        <h2>
            Welcome to Employee Management Project 
            <br>
            <br>
            <small>with </small>
            <br>
            <br>
            FastAPI
            <br>
            <br>
            SQLAlchemy
            <br>
            <br>
            Alembic
            <br>
            <br>
            Jinja2
        </h2>
    </div>
</div>
{% endblock core_body%}